<div mat-dialog-content class="col">
  <div class="col" style="width:480px">
    <app-uploader [(ngModel)]="upload.url"></app-uploader>
  </div>
  <div class="col" style="width:480px">
    <app-metadata [(ngModel)]="upload.meta"></app-metadata>
  </div>
</div>

{{upload|json}}
<div mat-dialog-actions>
  <div class="spacer"></div>
  <button mat-button>Cancel</button>
  <button mat-button mat-raised-button color="primary">Save and Close</button>
  <button mat-button mat-raised-button color="primary">Save and Locate</button>
</div>
