<mat-toolbar color="primary">
    <button (click)="globalside.toggle()" mat-button mat-icon-button><mat-icon>menu</mat-icon></button>
    <span class="title">OHM Historical View</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/map">Map</button>
    <span class="spacer"></span>
    <span class="small_spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav class="sidebar" #globalside mode="over" >
        <div *ngIf="infoData" class="info" [innerHtml]="infoData?.info">

        </div>
        <mat-nav-list>
            <a target="_blank" href="https://www.openhistorymap.org/" mat-list-item>OHM Home</a>
            <a target="_blank" href="https://blog.openhistorymap.org/" mat-list-item>OHM Blog</a>
            <a target="_blank" href="https://index.openhistorymap.org/" mat-list-item>OHM Index</a>
            <a target="_blank" href="https://www.openhistorymap.org/about/" mat-list-item>About OHM</a>
            <a target="_blank" href="https://www.openhistorymap.org/help/" mat-list-item>How to help/donate to OHM</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content id="page">
        <mat-toolbar>
            <button mat-button mat-icon-button><mat-icon>save</mat-icon></button>
            <button style="background-color: red; color:white" mat-button mat-icon-button><mat-icon>delete</mat-icon></button>
        </mat-toolbar>
        <mat-tab-group>
            <mat-tab label="Meta"> 
                <mat-list>
                    <ng-container *ngFor="let item of pic_meta | keyvalue">
                    <mat-list-item  *ngIf="item.key !== 'additional'">
                        
                            {{item.key}}: {{item.value}}
                        </mat-list-item>
                    </ng-container>
                </mat-list> 
                <hr>
                <mat-list>
                    <mat-list-item *ngFor="let item of pic_meta.additional | keyvalue">{{item.key}}: {{item.value|json}}</mat-list-item>
                </mat-list>
             </mat-tab>
            <mat-tab label="Locator">
                
    <ng-template matTabContent>
         <app-locator [input_image]="pic_meta.url" (locStore)="storeLocation($event)"></app-locator> 
        </ng-template></mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>
  