<div class="row" mat-dialog-content>
    <div>
        <mat-toolbar>
            <button mat-button mat-icon-button><mat-icon>lens</mat-icon></button>
          </mat-toolbar>
        <div id="locatormap"></div>
    </div>
    <table>
<tr><td colspan="3">
    <div class="title">Dettagli</div>
</td></tr>
<tr><td>Direzione:</td><td>{{meta?.direction}}°</td><td><mat-slider [min]="-180" [max]="180" [(ngModel)]="meta.direction"></mat-slider></td></tr>
<tr><td>Angolo di visuale:</td><td>{{meta?.angle}}°</td><td><mat-slider [min]="30" [max]="100" [(ngModel)]="meta.angle"></mat-slider></td></tr>
<tr><td>Altezza:</td><td>{{meta?.height}}m</td><td><mat-slider [(ngModel)]="meta.height" [min]="0" [max]="100"></mat-slider></td></tr>
<tr><td colspan="3">{{meta|json}}</td></tr>
</table>
<div class="column">
    <img style="width: 400px;" [src]="input_image">
    <img style="width: 400px;" [src]="newViewUrl">
</div>
</div>
<div class="row" mat-dialog-actions>
    <button mat-button>Save</button>
</div>